/* line 17, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

html {
  line-height: 1;
}

/* line 24, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

ol,
ul {
  list-style: none;
}

/* line 26, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

q,
blockquote {
  quotes: none;
}

/* line 103, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

a img {
  border: none;
}

/* line 116, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

/* line 6, ../scss/style.scss */

body {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  background-color: white;
  font-size: 16px;
  line-height: 1.5em;
  height: auto;
}

/* line 13, ../scss/style.scss */

nav {
  position: relative;
  background-color: #0b6b20;
  width: 100%;
  height: 0;
}

/* line 18, ../scss/style.scss */

nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  width: 100%;
  display: block;
  height: 0;
  overflow: visible;
}

/* line 60, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */

nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}

/* line 48, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */

nav ul li:first-child,
nav ul li.first {
  padding-left: 0;
}

/* line 49, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */

nav ul li:last-child {
  padding-right: 0;
}

/* line 50, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */

nav ul li.last {
  padding-right: 0;
}

/* line 26, ../scss/style.scss */

nav ul.title-area {
  width: auto;
}

/* line 33, ../scss/style.scss */

.logo {
  background-image: url('/img/logoprint.png?1381172961');
  width: 111px;
  height: 60px;
  position: absolute;
  z-index: 100;
  top: -8px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-top: 0;
}

/* line 45, ../scss/style.scss */

.logo a {
  display: block;
  width: 150px;
  height: 174px;
}

/* line 51, ../scss/style.scss */

nav ul li {
  padding: 0;
}

/* line 54, ../scss/style.scss */

.orbit-container li {
  text-align: center;
}

/* line 56, ../scss/style.scss */

.orbit-container li img {
  display: inline-block;
  margin: auto;
  z-index: 20;
  top: -20%;
  position: relative;
}

/* line 64, ../scss/style.scss */

.orbit-prev,
.orbit-next {
  height: 100%;
}

/* line 68, ../scss/style.scss */

.image {
  overflow: visible;
  position: relative;
  z-index: 10;
  background-color: black;
}

/* line 74, ../scss/style.scss */

.image img {
  /* height:1080px;
  width:1920px;*/
  max-width: none;
}

/* line 79, ../scss/style.scss */

.image .ban {
  background-color: rgba(0, 0, 0, 0.6);
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  margin: auto;
  max-height: 300px;
  text-align: center;
}

/* line 91, ../scss/style.scss */

.image .infosSup {
  float: right;
}

/* line 94, ../scss/style.scss */

.image ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin-top: 50px;
  overflow: visible;
}

/* line 60, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */

.image ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}

/* line 48, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */

.image ul li:first-child,
.image ul li.first {
  padding-left: 0;
}

/* line 49, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */

.image ul li:last-child {
  padding-right: 0;
}

/* line 50, ../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */

.image ul li.last {
  padding-right: 0;
}

/* line 98, ../scss/style.scss */

.image ul li {
  display: inline-block;
  float: none;
}

/* line 106, ../scss/style.scss */

ul > li.bulle {
  z-index: 100;
  width: 192px;
  height: 200px;
  vertical-align: baseline;
  bottom: 0;
  background-image: url('/img/perso.png?1381048064');
  display: inline-block;
  margin-left: 5%;
  float: none;
  border-radius: 50% / 80%;
  opacity: 0.9;
  -webkit-box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5) 2px;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5) 2px;
}

/* line 120, ../scss/style.scss */

ul > li.bulle a {
  width: 188px;
  height: 200px;
  display: block;
}

/* line 126, ../scss/style.scss */

ul > li.bulle:hover {
  cursor: pointer;
}

/* line 132, ../scss/style.scss */

li.bulle:first-child {
  margin-left: 0;
}

/* line 135, ../scss/style.scss */

.clear {
  clear: both;
}

/* line 138, ../scss/style.scss */

figure {
  width: 150px;
  height: 100px;
  margin: auto;
  padding-top: 0;
  word-wrap: break-word;
  /* IE 5.5-7 */
  white-space: -moz-pre-wrap;
  /* Firefox 1.0-2.0 */
  white-space: pre-wrap;
}

/* line 146, ../scss/style.scss */

figure figcaption {
  padding-top: 35px;
  width: 150px;
  height: 100px;
}

/* line 152, ../scss/style.scss */

.hide {
  display: none;
}

/* line 155, ../scss/style.scss */

.clear {
  clear: both;
}

/* line 158, ../scss/style.scss */

#container {
  width: 100%;
  height: 100%;
  border-top: 2px solid rgba(0, 0, 0, 0.8);
  background-color: rgba(100, 100, 100, 0.1);
  overflow: hidden;
  padding-top: 40px;
}

/* line 165, ../scss/style.scss */

#container .down {
  position: absolute;
  width: 150px;
  height: 30px;
  top: 30%;
}

/* line 172, ../scss/style.scss */

.main {
  width: 90%;
  background-color: rgba(255, 255, 255, 0.9);
  margin: auto;
  padding: 2em 1em 5em 1em;
}

/* line 179, ../scss/style.scss */

.hiddenContentPerso {
  display: none;
}

/* line 182, ../scss/style.scss */

.row {
  max-width: 100%;
}

/* line 185, ../scss/style.scss */

h2,
h3 {
  font-size: 35px;
  margin-bottom: 1em;
  padding-bottom: 10px;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
}

/* line 192, ../scss/style.scss */

h2:hover,
h3:hover {
  color: #14c83c;
  border-bottom: 1px dashed rgba(10, 200, 100, 0.3);
  -webkit-transition: all, 0.3s, ease;
  transition: all, 0.3s, ease;
}

/* line 198, ../scss/style.scss */

h3 {
  font-size: 24px;
  border: 0;
  text-align: left;
  padding: 0;
  margin: auto;
}

/* line 205, ../scss/style.scss */

h3:hover {
  border: 0;
}

/* line 209, ../scss/style.scss */

p.text {
  line-height: 1.8em;
  margin-bottom: 1em;
}

/* line 215, ../scss/style.scss */

nav.top-bar {
  padding: 0 2%;
  position: fixed;
}

/* line 218, ../scss/style.scss */

nav.top-bar a,
nav.top-bar li {
  text-decoration: none;
}

/* line 220, ../scss/style.scss */

nav.top-bar a:hover,
nav.top-bar li:hover {
  text-decoration: none;
  background-color: rgba(100, 100, 100, 0.1);
  -webkit-transition: all, 0.3s, ease;
  transition: all, 0.3s, ease;
}

/* line 227, ../scss/style.scss */

ul#imgTracker {
  padding: 1% 0;
  text-align: center;
}

/* line 231, ../scss/style.scss */

ul#imgTracker li {
  margin-bottom: 20px;
}

/* line 233, ../scss/style.scss */

ul#imgTracker li a {
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

/* line 239, ../scss/style.scss */

ul#imgTracker li a img {
  display: inline;
  margin: auto;
  max-width: 200px;
}

/* line 250, ../scss/style.scss */

ul#imgTracker li:first-child a {
  height: 300px;
  width: 300px;
}

/* line 255, ../scss/style.scss */

ul#imgTracker li:first-child img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: inline;
  margin: auto;
  max-width: 300px;
}

/* line 268, ../scss/style.scss */

.overImg {
  position: absolute;
  display: block;
  height: 0%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  /* padding:10% 2%;*/
  font-weight: bold;
  line-height: 1.5em;
  overflow: hidden;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

/* line 285, ../scss/style.scss */

#imgTracker a:hover .overImg {
  height: 100%;
  padding: 10% 2%;
  overflow: visible;
}

/* line 294, ../scss/style.scss */

#imgTracker a:hover img {
  opacity: 0.2;
}

/* line 298, ../scss/style.scss */

.main p {
  text-align: left;
}

/* line 302, ../scss/style.scss */

.main p.lien {
  text-align: center;
}

/* line 304, ../scss/style.scss */

.main p.lien a {
  font-weight: bold;
}

/* line 308, ../scss/style.scss */

ul.mainMenu {
  display: inline-block;
  text-align: center;
  width: 60%;
}

/* line 312, ../scss/style.scss */

ul.mainMenu li {
  font-size: 10em;
  padding: 0 0.1em;
}

/* line 315, ../scss/style.scss */

ul.mainMenu li a {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}

/* line 318, ../scss/style.scss */

ul.mainMenu li a:hover {
  text-decoration: none;
}

/* line 321, ../scss/style.scss */

ul.mainMenu li a p {
  font-size: 24px;
}

/* line 328, ../scss/style.scss */

a {
  color: #14c83c;
  text-decoration: underline;
}

/* line 331, ../scss/style.scss */

a:hover {
  color: #0b6b20;
  text-decoration: underline;
}

/* line 337, ../scss/style.scss */

a i:hover {
  text-shadow: 0 0 5px #aaaaaa;
}

/* line 343, ../scss/style.scss */

.contact:first-child {
  margin-top: 20px;
}

/* line 347, ../scss/style.scss */

.row form {
  margin: 20px 0;
}

/* line 349, ../scss/style.scss */

.row form input:hover,
.row form textarea:hover,
.row form input:focus,
.row form textarea:focus {
  border: 1px solid #14c83c;
  -webkit-box-shadow: 0 0 5px #b1f7c0;
  box-shadow: 0 0 5px #b1f7c0;
}

/* line 354, ../scss/style.scss */

.row form input[type="submit"] {
  background-color: #14c83c;
  border: 1px solid #0d8227;
}

/* line 357, ../scss/style.scss */

.row form input[type="submit"]:hover {
  background-color: #0f9a2e;
}

/* line 362, ../scss/style.scss */

fieldset {
  border: 1px solid #14c83c;
  padding: 1em;
}

/* line 369, ../scss/style.scss */

.contact {
  line-height: 2em;
  display: block;
}