/* line 17, ../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

html {
  line-height: 1;
}

/* line 24, ../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

ol,
ul {
  list-style: none;
}

/* line 26, ../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

q,
blockquote {
  quotes: none;
}

/* line 103, ../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

a img {
  border: none;
}

/* line 116, ../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

/* line 6, ../scss/style.scss */

body {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  background-color: white;
  font-size: 16px;
  line-height: 1.5em;
  height: auto;
}

/* line 13, ../scss/style.scss */

nav {
  position: relative;
  background-color: #0b6b20;
  width: 100%;
  height: 0;
}

/* line 18, ../scss/style.scss */

nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  width: 100%;
  display: block;
  height: 0;
  overflow: visible;
}

/* line 60, ../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */

nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}

/* line 48, ../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */

nav ul li:first-child,
nav ul li.first {
  padding-left: 0;
}

/* line 49, ../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */

nav ul li:last-child {
  padding-right: 0;
}

/* line 50, ../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */

nav ul li.last {
  padding-right: 0;
}

/* line 26, ../scss/style.scss */

nav ul.title-area {
  width: auto;
}

/* line 33, ../scss/style.scss */

.logo {
  background-image: url('../img/logoprint.png?1381172961');
  width: 111px;
  height: 60px;
  position: absolute;
  z-index: 100;
  top: -8px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-top: 0;
}

/* line 45, ../scss/style.scss */

.logo a {
  display: block;
  width: 150px;
  height: 174px;
}

/* line 51, ../scss/style.scss */

nav ul li {
  padding: 0;
}

/* line 54, ../scss/style.scss */

.orbit-container li {
  text-align: center;
}

/* line 56, ../scss/style.scss */

.orbit-container li img {
  display: inline-block;
  margin: auto;
  z-index: 20;
  position: relative;
}

/* line 63, ../scss/style.scss */

.image {
  overflow: visible;
  z-index: 10;
  background-color: black;
}

/* line 68, ../scss/style.scss */

.image img {
  /* height:1080px;
   width:1920px;*/
  max-width: none;
}

/* line 73, ../scss/style.scss */

.image .ban {
  background-color: rgba(0, 0, 0, 0.6);
  left: 0;
  right: 0;
  bottom: 0;
  top: 200px;
  position: absolute;
  margin: auto;
  max-height: 300px;
  text-align: center;
}

/* line 85, ../scss/style.scss */

.image ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin-top: 50px;
}

/* line 60, ../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */

.image ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}

/* line 48, ../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */

.image ul li:first-child,
.image ul li.first {
  padding-left: 0;
}

/* line 49, ../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */

.image ul li:last-child {
  padding-right: 0;
}

/* line 50, ../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */

.image ul li.last {
  padding-right: 0;
}

/* line 88, ../scss/style.scss */

.image ul li {
  display: inline-block;
  float: none;
}

/* line 96, ../scss/style.scss */

ul > li.bulle {
  z-index: 100;
  width: 192px;
  height: 200px;
  vertical-align: baseline;
  bottom: 0;
  background-image: url('../img/perso.png?1381048064');
  display: inline-block;
  margin-left: 5%;
  float: none;
  border-radius: 50% / 80%;
  opacity: 0.9;
  -webkit-box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5) 2px;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5) 2px;
}

/* line 110, ../scss/style.scss */

ul > li.bulle a {
  width: 188px;
  height: 200px;
  display: block;
}

/* line 116, ../scss/style.scss */

ul > li.bulle:hover {
  cursor: pointer;
}

/* line 122, ../scss/style.scss */

li.bulle:first-child {
  margin-left: 0;
}

/* line 125, ../scss/style.scss */

.clear {
  clear: both;
}

/* line 128, ../scss/style.scss */

figure {
  width: 150px;
  height: 100px;
  margin: auto;
  padding-top: 0;
  word-wrap: break-word;
  /* IE 5.5-7 */
  white-space: -moz-pre-wrap;
  /* Firefox 1.0-2.0 */
  white-space: pre-wrap;
}

/* line 136, ../scss/style.scss */

figure figcaption {
  padding-top: 35px;
  width: 150px;
  height: 100px;
}

/* line 142, ../scss/style.scss */

.hide {
  display: none;
}

/* line 145, ../scss/style.scss */

.clear {
  clear: both;
}

/* line 148, ../scss/style.scss */

#container {
  width: 100%;
  height: 100%;
  border-top: 2px solid rgba(0, 0, 0, 0.8);
  background-color: rgba(100, 100, 100, 0.1);
  overflow: hidden;
}

/* line 155, ../scss/style.scss */

.main {
  width: 90%;
  background-color: rgba(255, 255, 255, 0.9);
  margin: auto;
  padding: 60px;
}

/* line 162, ../scss/style.scss */

.hiddenContentPerso {
  display: none;
}

/* line 165, ../scss/style.scss */

.row {
  max-width: 100%;
}

/* line 168, ../scss/style.scss */

h2,
h3 {
  font-size: 35px;
  margin-bottom: 1em;
  padding-bottom: 10px;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
}

/* line 175, ../scss/style.scss */

h2:hover,
h3:hover {
  color: #14c83c;
  border-bottom: 1px dashed rgba(10, 200, 100, 0.3);
  -webkit-transition: all, 0.3s, ease;
  transition: all, 0.3s, ease;
}

/* line 181, ../scss/style.scss */

h3 {
  font-size: 24px;
  border: 0;
  text-align: left;
  padding: 0;
  margin: auto;
}

/* line 188, ../scss/style.scss */

h3:hover {
  border: 0;
}

/* line 192, ../scss/style.scss */

p.text {
  line-height: 1.8em;
  margin-bottom: 1em;
}

/* line 198, ../scss/style.scss */

nav.top-bar {
  padding: 0 2%;
  position: fixed;
}

/* line 202, ../scss/style.scss */

nav.top-bar a:hover,
nav.top-bar li:hover {
  text-decoration: none;
  background-color: rgba(100, 100, 100, 0.1);
  -webkit-transition: all, 0.3s, ease;
  transition: all, 0.3s, ease;
}

/* line 209, ../scss/style.scss */

ul#imgTracker {
  padding: 1% 0;
  text-align: center;
}

/* line 213, ../scss/style.scss */

ul#imgTracker li {
  margin-bottom: 20px;
}

/* line 215, ../scss/style.scss */

ul#imgTracker li a {
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

/* line 221, ../scss/style.scss */

ul#imgTracker li a img {
  display: inline;
  margin: auto;
  max-width: 200px;
}

/* line 234, ../scss/style.scss */

.overImg {
  position: absolute;
  display: none;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 1;
  background-color: rgba(50, 50, 50, 0.9);
  color: white;
  padding: 10% 2%;
  font-weight: bold;
  line-height: 1.5em;
}

/* line 249, ../scss/style.scss */

.main p {
  text-align: left;
}

/* line 253, ../scss/style.scss */

.main p.lien {
  text-align: center;
}

/* line 255, ../scss/style.scss */

.main p.lien a {
  font-weight: bold;
}

/* line 259, ../scss/style.scss */

ul.mainMenu {
  display: inline-block;
  text-align: center;
  width: 60%;
}

/* line 263, ../scss/style.scss */

ul.mainMenu li {
  font-size: 10em;
}

/* line 267, ../scss/style.scss */

ul.mainMenu li a:hover {
  text-decoration: none;
}

/* line 270, ../scss/style.scss */

ul.mainMenu li a p {
  font-size: 24px;
}

/* line 277, ../scss/style.scss */

a {
  color: rgba(255, 255, 255, 0.9);
}

/* line 279, ../scss/style.scss */

a:hover {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: underline;
}

/* line 285, ../scss/style.scss */

a i:hover {
  text-shadow: 0 0 5px #aaaaaa;
}

/* line 291, ../scss/style.scss */

.contact:first-child {
  margin-top: 20px;
}

/* line 295, ../scss/style.scss */

.row form {
  margin: 20px 0;
}

/* line 297, ../scss/style.scss */

.row form input:hover,
.row form textarea:hover,
.row form input:focus,
.row form textarea:focus {
  border: 1px solid #14c83c;
  -webkit-box-shadow: 0 0 5px #b1f7c0;
  box-shadow: 0 0 5px #b1f7c0;
}

/* line 302, ../scss/style.scss */

.row form input[type="submit"] {
  background-color: #14c83c;
  border: 1px solid #0d8227;
}

/* line 305, ../scss/style.scss */

.row form input[type="submit"]:hover {
  background-color: #0f9a2e;
}

/* line 310, ../scss/style.scss */

fieldset {
  border: 1px solid #14c83c;
  padding: 1em;
}

/* line 317, ../scss/style.scss */

p.contact {
  line-height: 2em;
}